{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/navbar.css' %} ">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

</head>
<body>
      {% include 'particals/_navbar.html' %}
      <main style="margin-top: 50px">
            {% block content %}
            {% endblock %}
      </main>
      {% include 'particals/_footer.html' %}

      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>