{% load static %}
<html>
<head>
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Ceyhun<span> Kerim</span></h2>
            <ul>
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <ul><a href="{% url 'about' %}">KATEGORİLER</a>
                    <li>Romantik/Komedi</li>
                </ul>
                <li><a href="{% url 'movies' %}">MOVİES</a></li>
                <li><a href="{% url 'login' %}">LOGİN</a></li>
                <li><a href="{% url 'register' %}">REGİSTER</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>